.Timer
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-bottom: 40px

.Timer__button
    -webkit-appearance: none
    background: #36373b
    border: 3px solid white
    color: white
    border-radius: 20px
    padding: 0.8rem
    font-size: 14px
    font-weight: 500

.Timer__text
    text-align: center
    font-size: 16px
    margin: 0
    padding: 0.8rem

.Timer__container
    display: flex
    flex-direction: column
    align-items: center

.Timer__number-countdown
    font-size: 70px
    margin: 0rem 0 0.5rem 0

.Timer__end
    font-size: 40px
    font-weight: 500
    color: #ff2020
    margin: 1rem 0 1.5rem 0

.Timer__noImage
    width: 200px
    height: 200px
.Timer__image
    width: 200px
    height: 200px
    background: none
    animation: rotation 20s infinite linear

@keyframes rotation
    0% 
        transform: rotate(-30deg)
    50% 
        transform: rotate(30deg)
    100%
        transform: rotate(-30deg)